/******************************************************************************************************
		Forneden er der nogle justeringer der får boilerplaten til at ligne MAMs design.
******************************************************************************************************/

h1 {
	margin: 40px 0px; 
	line-height: 1em;
}
h2 {
	margin: 30px 0px 20px 0px; 
	line-height: 1em;
}
h4 {
	margin: 0px; 
	line-height: 1em;
}
